* {
    padding: 0;
    margin: 0;
    display: flex;
    width: inherit;
}
head{
    display: none;
}

body {     
    max-width: 1440px;  
    height: 100%; 
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .container{
        width: 100%;
        margin: auto;
        display: flex;
        align-items: flex-start;
    }
    .container-display-1{
        padding: 5px;
        width: 40%;
        float: left;
        padding-left: 104px;
        display: flex;
        flex-direction: column;
    }
    .container-display-2{
        width: 60%;
        height: auto;
        padding: 5px;
        padding-top: 98px;
        margin: inherit;
        padding-left: 44px;
        display: flex;
        flex-direction: row;
    }
    .container-display-3{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 104px;
    }
    .container-display-4{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-top: 40px;  
        margin-left: 100px;    
    }
    .container-display-5{
        width: 60%;
        display: flex;
        flex-direction: row;
        margin-top: 40px;  
        margin-left: 0px;    
    }
    .container-display-6{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .container-display-7{
        width: 36%;
        display: flex;
        flex-direction: column;
        margin-top: 260px;
        margin-left: 104px;
    }
    .container-display-8{
        width: 60%;
        display: flex;
        flex-direction: row;
        margin-top: -364px;
        margin-left: 500px;
    }
    .container-display-9{
        width: 94%;
        display: flex;
        flex-direction: row;
        margin-top: 18px;
        margin-left: 80px;
    }
    .container-display-10{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }
    .container-display-11{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-left: 100px;
    }
    .container-article{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    .kemasan{
        width: 1440px;
        height: auto;
        margin: auto;
        background-color: #FFFFFF;
        position: fixed;
        top: 0;
        overflow: hidden;
    }
    .sticky{
        position: fixed;
        top: 0;
        width: 100%;
    }
    .navbar-logo{
        width: auto;
        margin: auto;
        padding-top: 42px;
        padding-left: 20px;
        display: flex;
        float: left;
    }
    .nav-item-active{
        width: auto;
        margin: auto;
        padding-top: 30px;
        align-items: flex-start;
        display: flex;
    }
    .nav-item-section-2{
        width: 40%;
        display: flex;
        flex-direction: row;
        margin-top: -40px;
        margin-left: 800px;
    }
    .button {
        border: none;
        width: 106px;
        height: 48px;
        background-color: #1D6861;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        letter-spacing: 0.5px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      .button:hover {
        background-color: #20b87d;
        color: white;
      }
      .button-header {
        border: none;
        width: auto;
        margin: auto;
        padding-top: 20px;
        padding-left: 10px;
        color: white;
        display: flex;
      }
      
      .btn-header-login {
        width: 106px;
        height: 48px;
        align-content: center;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: #535353;
        border: none;
        float: left;
        display: inline;
      }
      .btn-header-register {
        width: 106px;
        height: 48px;
        padding: 10px;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        transition-duration: 0.4s;
        cursor: pointer;
        align-content: center;
        background-color: #1D6861;
        color: #FFFF;
        border: 1px transparent;
        float: left;
        display: inline;
      }
      .btn-header-register:hover {
        background-color: #20b87d;
        color: white;
      }
      .btn-image-section-1{
        display: flex;
        width: 40px;
        height: 40px;
        margin-left: 212px;
        margin-top: 220px;
        background-color: #1D6861;
        color: white;
        border: transparent;
        letter-spacing: 0.5px;  
        transition-duration: 0.4s;
        cursor: pointer;
        padding: 8px;
      }
    .btn-image-section-1:hover{
        background-color:#20b87d ;
    }
    .btn-nav-section-2{
        border: none;
        width: 118px;
        height: 33px;
        margin-right: 12px;
        background-color: #F2F2F2;
        color: #A5A5A5;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        letter-spacing: 0.5px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .btn-nav-section-2:hover{
        background-color: #FF6500;
        color: #FFFFFF;
    }
    .btn-detail-section-3{
        border: none;
        width: 236px;
        height: 72px;
        background-color: #FFFFFF;
        color: #414141;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        letter-spacing: 0.5px;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top: 450px;
        margin-left: -560px;
    }
    .btn-detail-section-3:hover{
        background-color: #F2F2F2;
    }
    .section-1{
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        align-items: flex-start;
    }
    .section-2{
        width: 100%;
        margin-top: 24px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .section-3{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 168px;
    }
    .section-4{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 104px;
    }
    .section-5{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 360px;
        margin-bottom: 140px;
    }
    .jumbotron{
        background-size: contain;
        height: auto;
        float: left;
        position: relative;
        display: contents;
    }
    .jumbotron .container{
        z-index: 1;
        position: relative;
        float: left;
    }
    .btn-jumbotron{
        border: none;
        width: 106px;
        height: 48px;
        background-color: #1D6861;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        letter-spacing: 0.5px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .btn-jumbotron:hover{
        background-color: #20b87d;
        color: white;
    }
    .btn-jumbotron-section-4{
        border: none;
        width: 162px;
        height: 44px;
        background-color: #1D6861;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        letter-spacing: 0.5px;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top: 36px;
    }
    .btn-jumbotron-section-4:hover{
        background-color: #20b87d;
        color: white;
    }
    .btn-jumbotron-section-5{
        border: none;
        width: 162px;
        height: 44px;
        background-color: #1D6861;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        letter-spacing: 0.5px;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-top: 48px;
        margin-left: 644px;
    }
    .btn-jumbotron-section-5:hover{
        background-color: #20b87d;
        color: white;
    }
    .display-1{
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        padding-top: 200px;
        padding-right: 60px;
        font-family: 'Rubik',sans-serif;
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        line-height: 164%;
        letter-spacing: 1px;
        color: black;
    }
    .display-2{
        width: 60%;
        height: auto;
        margin: inherit;
        display: grid;
        padding-top: 27px;
        padding-right: 200px;
        padding-bottom: 36px;
        font-family: 'Rubik',sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #A5A5A5;
        float: left;
    }
    .display-3{
        width: 100%;
        height: auto;
        display: flex;
        font-family: 'Rubik',sans-serif;
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        line-height: 164%;
        letter-spacing: 1px;
        color: black;
    }
    .display-4{
        width: 28%;
        height: auto;
        display: flex;
        font-family: 'Rubik',sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #A5A5A5;
        float: left;
        margin-top: 24px;
    }
    .display-5{
        width: 70%;
        height: auto;
        display: flex;
        font-family: 'Rubik',sans-serif;
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        line-height: 164%;
        letter-spacing: 1px;
        color: black;
        margin-left: 120px;
    }
    .display-6{
        width: 340px;
        height: auto;
        display: flex;
        font-family: 'Rubik',sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #A5A5A5;
        float: left;
        margin-top: 8px;
        margin-left: 122px;
    }
    .display-7{
        width: 340px;
        height: auto;
        display: flex;
        font-family: 'Rubik',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 151%;
        letter-spacing: 0.5px;
        color: #000000;
        margin-top: 144px;
        margin-left: 74px;
    }
    .display-8{
        width: 340px;
        height: auto;
        display: flex;
        font-family: 'Rubik',sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #A5A5A5;
        float: left;
        margin-top: 40px;
        margin-left: 74px;
    }
    .display-9{
        width: 78%;
        height: auto;
        display: flex;
        font-family: 'Rubik',sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #A5A5A5;
        float: left;
        margin-top: 24px;
    }
    .display-10{
        width: 50%;
        margin-left: 602px;
        font-family: 'Rubik',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #414141;
    }
    .display-11{
        width: 50%;
        margin-left: 526px;
        font-family: 'Rubik',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 164%;
        text-align: center;
        letter-spacing: 0.5px;
        color: #A5A5A5;
    }
    .image-section-1#carousel{
        padding-left: 32px;
        width: 640px;
        height: 540px;
        float: left;
        display: flex;
        overflow: hidden;
    }
    .image-section-2{
        width: 392px;
        height: 320px;
        display: flex;
        overflow: hidden;
        margin: 12px;
    }
    .image-section-3{
        width: 840px;
        height: 521px;
        display: flex;
        overflow: hidden;
    }
    .image-section-4{
        width: 392px;
        height: 396px;
        display: flex;
        overflow: hidden;
        padding-left: 28px;
    }
    .image-section-5{
        width: 392px;
        height: 320px;
        display: flex;
        overflow: hidden;
        margin: 12px;
    }
    .rating{
        width: 76px;
        height: 12px;
        display: flex;
        overflow: hidden;
        margin-top: 8px;
        margin-left: 74px;
    }
    .article-style{
        font-family: 'Rubik', sans-serif;
    }
    .article-section-2{
        width: 30%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #A5A5A5;
        margin-left: 112px;
    }
    .article-section-2-1{
        width: 30%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #A5A5A5;
    }
    .article-section-2-2{
        width: 30%;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 158%;
        letter-spacing: 0.5px;
        color: #414141;
        margin-left: 112px;
    }
    .article-section-2-3{
        width: 30%;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 158%;
        letter-spacing: 0.5px;
        color: #414141;
    }
    .article-section-4-1{
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #414141;
        margin-left: 24px;
        margin-top: 12px;
    }
    .article-section-4-1-1{
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 151%;
        letter-spacing: 0.8px;
        color: #FF6500;
        margin-left: 24px;
        margin-top: 8px;
    }
    .article-section-4-5-1{
        width: 8%;
        margin-top: -260px;
        margin-left: 1084px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 158%;
        text-align: center;
        letter-spacing: 0.5px;
        color: #A5A5A5;
    }
    .article-footer-1{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #000000;
    }
    .article-footer-2{
        margin-top: 24px;
        margin-bottom: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #535353;
    }
    .article-footer-3{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #535353;
    }
    .article-footer-4{
        margin-top: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #535353;
    }
    .article-footer-5{
        margin-top: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 164%;
        letter-spacing: 0.5px;
        color: #535353;
    }
    .box-article-section-4-1{
        width: 192px;
        height: 104px;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        margin-top: 316px;
        margin-left: -812px;
    }
    .box-article-section-4-2{
        width: 192px;
        height: 104px;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        margin-top: 316px;
        margin-left: 228px;
    }
    .box-article-section-4-3{
        width: 192px;
        height: 104px;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        margin-top: 316px;
        margin-left: -612px;
    }
    .text-block{
        display: flex;
        width: 120px;
        height: 4%;
        margin-top: 380px;
        margin-left: -640px;
        background-color: #FF6500;
        color: white;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.5px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 20px;
    }
    .text-block-definition{
        display: flex;
        width: 320px;
        height: 100px;
        margin-top: 404px;
        margin-left: -140px;
        background-color: white;
        color: #A5A5A5;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.5px;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 12px;
    }
    .text-block-definition-detail{
        display: flex;
        width: 340px;
        height: 5%;
        margin-top: 450px;
        margin-left: -368px;
        color: #1D6861;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.5px;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .text-block-section-3{
        display: flex;
        width: 340px;
        height: 5%;
        margin-top: 16px;
        margin-left: 74px;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 151%;
        letter-spacing: 0.8px;
        color: #1D6861;
    }
    .icon{
        display: flex;
        width: 24px;
        height: 24px;
        margin-right: 190px;
        margin-top: -2px;
    }
    .icon-section-3{
        display: flex;
        width: 24px;
        height: 24px;
        margin-left: 214px;
        margin-top: -22px;
    }
    .footer{
        width: 100%;
        height: 355px;
        display: flex;
        flex-direction: row;        
        background: #F9F9F9;
        padding: 10px 0;
        color: #fff;
    }
    .footer{
        bottom: 0;
    }
    .container-footer-1{
        width: 284px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 98px;
        margin-left: 248px;
    }
    .container-footer-2{
        width: 100px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 98px;
        margin-left: 138px;
    }
    .container-footer-3{
        width: 64px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 98px;
        margin-left: 129px;
    }
    .container-footer-4{
        width: 104px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 98px;
        margin-left: 147px;
    }
    header{
        background-color: #FFFFFF;
        height: 10%;
        width: 1440px;
        margin: auto;
        position: fixed;
        top: 0;
        overflow: hidden;
        align-items: center;
    }
    nav a{
        font-family: 'Rubik', sans-serif;
        color: #535353;
        align-content: center;
        text-decoration: none;
        padding: 7px 25px;
        display: block;
        flex-wrap: wrap;
    }